<html>
    <head>
            <link rel="stylesheet" href="static/blueprint/screen.css" type="text/css" media="screen, projection">
    </head>
    <body>
        <figure>
            <figcaption>Fruit</figcaption>
            <ul>
                <li>Test1</li>
                <li>Tesst2</li>
            </ul>
        </figure>
        <ul>
            <li>Fruit</li>
            <ul>
                <li>Test1</li>
                <li>Test2</li>
            </ul>
        </ul>
    </body>
</html>