<!DOCTYPE html>
<html>
    <head lang"en">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>    
    <body>
            <p class="title">
            <a href="http://www.google.com">UHCL, Accounting B.S.</a>
            </p>

        <table>
            <tr>
                <th>Courses</th>
                <th>
                    <h3>{{programs[0].name}}</h3>
                </th>
            </tr>
            {% for course in programs[0].courses %}
            <tr>
                <td>
                {{ course.rubric }} {{ course.number }}
                </td>
                <td>
                {{ course.name }}
                </td>
            </tr>
            {% endfor %}

        </table>

        </body>
</html>